pypandoc==1.5
atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
iniconfig==1.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
py4j==0.10.7
pyparsing==2.4.7
pyspark==2.4.8
pyspark-stubs==2.4.0.post9
toml==0.10.2
pyodbc==4.0.30
psycopg2==2.8.6
botocore==1.20.60
boto3==1.17.60
awsglue3==0.0.1
pandas==1.1.5
numpy==1.20.2
pytest==6.2.2
pytest-docker-compose==3.1.2
flake8==3.9.1


#reactive copy bigqeury data to azure
google-cloud-secret-manager==2.4.0
google-cloud-pubsub==2.5.0
azure-core==1.14.0
azure-storage-file-datalake==12.3.1
azure-identity==1.6.0